<!DOCTYPE html>
<html lang="en">
<head>
    <title>Twitter Clone</title>
    <link rel="icon" href="https://fachr.in/static/image/fachrin-memoji.jpg" type="image/png" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>
<body>
    <div class="container-sm" style="max-width: 720px!important;margin-top: 15%">
        <div class="row">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-lg-4">
                        <img src="https://fachr.in/static/image/fachrin-memoji.jpg" class="card-img"/>
                    </div>
                    <div class="col-lg-8">
                        <div class="card-body">
                            <h1 class="card-title">Fachrin Aulia</h1>

                            <p>
                                👨‍💻 A lifelong learner & a software engineer<br/>
                                🔩 Build cool stuffs @gojektech
                            </p>

                            <div class="row" style="margin-top: 20px">
                                <div class="col-lg-4 text-center">
                                    <strong><i class="bi bi-person-check"></i> <span id="followings_count">0</span></strong>
                                </div>
                                <div class="col-lg-4 text-center">
                                    <strong><i class="bi bi-person-plus"></i> <span id="followers_count">0</span></strong>
                                </div>
                                <div class="col-lg-4 text-center">
                                    <strong><i class="bi bi-heart"></i> <span id="likes_count">0</span></strong>
                                </div>
                            </div>

                            <div class="row" style="margin-top: 20px">
                                <div class="btn-group" role="group">
                                    <button type="button" onclick="increment('followings')" class="btn btn-success">+ Followings</button>
                                    <button type="button" onclick="increment('followers')" class="btn btn-success">+ Followers</button>
                                    <button type="button" onclick="increment('likes')" class="btn btn-success">+ Likes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        const username = "fachrinfan"

        function increment(action) {
            fetch("/v1/profile/" + username + "?action=inc_" + action, {method: "PUT"}).catch(function (e) {
                console.log(e)
            })
        }

        function streamProfile() {
            const source = new EventSource("/stream?username=" + username)
            const followingsCount = document.getElementById("followings_count")
            const followersCount = document.getElementById("followers_count")
            const likesCount = document.getElementById("likes_count")

            source.onmessage = function (ev) {
                let data = JSON.parse(ev.data)
                followingsCount.innerText = data["followings_count"] || 0
                followersCount.innerText = data["followers_count"] || 0
                likesCount.innerText = data["likes_count"] || 0
            }
        }

        streamProfile()
    </script>
</body>
</html>
